<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="INFO" />
	<logger name="org.springboot.sample" level="TRACE" />


	<!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	<springProfile name="test,dev">
		<logger name="org.springframework.web" level="INFO" />
		<logger name="org.springboot.sample" level="INFO" />
		<logger name="com.kfit" level="info" />
	</springProfile>


	<!-- 生产环境. -->
	<springProfile name="prod">
		<logger name="org.springframework.web" level="ERROR" />
		<logger name="org.springboot.sample" level="ERROR" />
		<logger name="com.kfit" level="ERROR" />
	</springProfile>


	<appender name="dailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/springbootLog.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
			<FileNamePattern>logs/temp/springboot-log.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>1</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>
	
	<root level="ERROR">
		<appender-ref ref="dailyRollingFileAppender"></appender-ref>
	</root>
</configuration>
