<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 打印SQL语句到控制台 -->
		<!-- <setting name="logImpl" value="STDOUT_LOGGING" /> -->
		<setting name="logImpl" value="LOG4J" />
	</settings>
	
	<plugins>
	    <plugin interceptor="com.github.pagehelper.PageHelper">
	        <property name="dialect" value="mysql"/>
	        <property name="offsetAsPageNum" value="false"/>
	        <property name="rowBoundsWithCount" value="false"/>
	        <property name="pageSizeZero" value="true"/>
	        <property name="reasonable" value="false"/>
	        <property name="supportMethodsArguments" value="false"/>
	        <property name="returnPageInfo" value="none"/>
	    </plugin>
	</plugins>
	
	 <mappers>  
        <package name="com.ecar.apm.dao"/>  
    </mappers>  
    
    
</configuration>